body {
	margin: 0;  
	padding:0px;
}

.landing {
	background-color: #429398;
}

.centered {
	text-align: center;
}

.header-text {
	margin-top: 5%;
	font-size: 3.2em;
	line-height: 1;
	font-weight: 100;
	font-family: 'Whitney A', 'Whitney B', Helvetica,sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.sub-header-text {
	margin-top:10px;
	font-size: 1.8em;
	line-height: 1;
	font-weight: 100;
	font-family: 'Whitney A', 'Whitney B', Helvetica,sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.featurette {
	width: 15%;
	display:inline-block;
}

.featurettes {
	margin-top:25px;
	list-style:none;
	text-align:center;
}

.featurette .title {
	font-size: 1.8em;
	line-height: 1;
	font-weight: 100;
	font-family: 'Whitney A', 'Whitney B', Helvetica,sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.featurette .content {
	font-size: 1.4em;
	line-height: 1;
	font-weight: 100;
	font-family: 'Whitney A', 'Whitney B', Helvetica,sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
}